[Unit]
Description=KELO driver
After=sys-subsystem-net-devices-eno1.device roscore.service

[Service]
ExecStart=/bin/bash -c "source /opt/ros/noetic/setup.bash && source /home/admin/robot.env && roslaunch smart_wheel_driver narko.launch"
KillSignal=SIGKILL
User=admin
Restart=always

[Install]
WantedBy=multi-user.target
