[Unit]
Description=Teeth brushing game

[Service]
ExecStart=/bin/bash -c "source /home/qtrobot/robot/autostart/qt_robot.inc && wait_for_network && prepare_ros_environment && source /home/qtrobot/catkin_build_ws/devel/setup.bash && roslaunch migrave_games migrave_game_tooth_brush.launch"
KillSignal=SIGKILL
User=qtrobot
Restart=always

[Install]
WantedBy=multi-user.target
