[Unit]
Description=Face feature detector used in MigrAVE

[Service]
ExecStart=/bin/bash -c "source /home/qtrobot/robot/autostart/qt_robot.inc && wait_for_network && prepare_ros_environment && source /home/qtrobot/catkin_build_ws/devel/setup.bash && roslaunch migrave_data_recorder migrave_recorder.launch"
KillSignal=SIGKILL
User=qtrobot
Restart=always

[Install]
WantedBy=multi-user.target
